# Arquivos gerados pelo Eclipse
.classpath
.project
.settings/

# Arquivos de build do Maven
target/

# Logs
*.log

# Arquivos temporários
*.tmp

# Arquivos de compilação
*.class

# Arquivos de configuração específicos do usuário (opcional)
*.prefs
